ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
}

nav {
  background: #333;
  color: #fff;
  padding: 5px 0;
}

nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  /* padding: 1em; */
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

nav ul > li {
  margin-left: 2em;
}

nav ul > li > a {
  color: #fff;
}

nav .user-info {
  margin-left: 1em;
}

#logout {
  margin-left: auto;
}

.products {
  width: 100%;
  outline: 1px solid #ccc;
}

.product {
  display: flex;
  padding: 1em;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

.product:last-child {
  border-bottom: none;
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 30px;
}

.product .text {
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}